from mpi4py import MPI
from numpy import arange

from asaptools import simplecomm

rank = MPI.COMM_WORLD.Get_rank()
size = MPI.COMM_WORLD.Get_size()

serial = {{ serial }}
comm = simplecomm.create_comm(serial=serial)

comm_size = 1 if serial else size
comm_rank = 0 if serial else rank

data = 5
actual = comm.allreduce(data, 'sum')
expected = data * comm_size
assert actual == expected

data = range(5)
actual = comm.allreduce(data, 'sum')
expected = sum(data) * comm_size
assert actual == expected

data = list(range(5))
actual = comm.allreduce(data, 'sum')
expected = sum(data) * comm_size
assert actual == expected

data = arange(5)
actual = comm.allreduce(data, 'sum')
expected = sum(data) * comm_size
assert actual == expected

data = {'a': range(3), 'b': [5, 7]}
actual = comm.allreduce(data, 'sum')
expected = {'a': comm_size * sum(range(3)), 'b': comm_size * sum([5, 7])}
assert actual == expected
